#root{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1,h2,h3,p{
    margin: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none !important;
}

.PrivateNotchedOutline-root-1{
    top: 8px !important;
    bottom: 8px !important;
}
.global-loader{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0,0.7);
    z-index: 5000;
}

.image-uploader{
    width: 155px;
    height: 99px;
}
.image-input-container {
    width: 155px;
    height: 99px;
    background-color: rgba(0, 0,0,0.7);
    color: white;
    cursor: pointer;
    overflow: hidden;
}
.image-input-container > input {
    width: 155px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 155px;
    transform: scale(3);
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}

.image-input-container > svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image-container{
    width: 155px;
    height: 99px;
}

.image-container > img{
    width: 155px;
    height: 99px;
}
.image-container > svg{
    top: -3%;
    right: -3%;
    color: black;
    cursor: pointer;
}